<div class="m-itemsIndex">
    <div class="m-itemsIndex--header">
        <h2>Liste des dépenses</h2>
        <div class="m-itemsIndex--content">
            <div class="total-expenses">
                <div class="--expenses" *ngIf="total">
                    <span>Nombre de dépense : </span>
                    <p>&nbsp;{{total}} €</p>
                </div>
                &nbsp;
                <div class="--totals" *ngIf="total">
                    <span>Total : </span>
                    <p>&nbsp;{{total}} €</p>
                </div>
            </div>
            <div class="add-item">
                <button class="a-button -add" (click)="add()"></button>
            </div>  
        </div>
    </div>

    <table class="m-itemsIndex--table">
        <thead>
            <tr class="--head">
                <th class="sort" [appSort]="items" data-order="desc" data-name="nature" scope="col">
                    <p>Nature</p>
                </th>
                <th class="sort" [appSort]="items" data-order="desc" data-name="purchasedOn" scope="col">
                    <p>Date dépense</p>
                </th>
                <th scope="col">
                    <p>Montant original</p>
                </th>
                <th scope="col">
                    <p>Montant en €</p>
                </th>
                <th scope="col">
                    <p>Commentaire</p>
                </th>
                <th scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="--item" *ngFor="let p of items; let i=index;">
                <td data-label="Nature">
                    <span class="label">{{p.nature}}</span>
                </td>
                <td data-label="Purchased On">
                    <span>{{p.purchasedOn}}</span>
                </td>
                <td data-label="Original Amount">
                    <div class="amount">
                        <span>{{p.originalAmount.amount}}</span>
                        &nbsp;
                        <span>{{p.originalAmount.currency}}</span>
                    </div>
                </td>
                <td data-label="Converted Amount">
                    <div class="amount">
                        <span>{{p.convertedAmount.amount}}</span>
                        &nbsp;
                        <span>{{p.convertedAmount.currency}}</span>
                    </div>
                </td>
                <td data-label="Comment">
                    <span>{{p.comment}}</span>
                </td>
                <td class="cta-container">
                    <div class="edit-cta">
                        <a class="a-button -primary" (click)="update(p.id, p)">
                            <p class="badge">Éditer</p>
                        </a>
                    </div>
                    <div class="delete-cta">

                        <div>
                            <a class="a-button -delete" (click)="delete(p.id)"></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="m-itemsIndex--pagination">
        <button class="a-button -first" (click) ="firstPage()" mat-button></button>
        <button class="a-button -previous" (click) ="previousPage()" mat-button></button>
        <button class="a-button -next" (click) ="nextPage()" mat-button></button>
        <button class="a-button -last" (click) ="lastPage()" mat-button></button>
    </div>
</div>