<div>
    <h2>Item Edit</h2>
    <div>
        <label>Purchased On:
            <input type="date" [(ngModel)]="itemData.purchasedOn" placeholder="Purshased On" />
        </label><br>
        <label>Nature:
            <input [(ngModel)]="itemData.nature" placeholder="Nature" />
        </label><br>
        <select [(ngModel)]="itemData.nature">
            <option selected disabled>Select nature</option>
            <option *ngFor="let nature of natures" [value]="nature.name">{{nature.name}}</option>
        </select><br>
        <label>Original Amount:
            <input type="number" [(ngModel)]="itemData.originalAmount.amount" placeholder="Amount" />
        </label><br>
        <label>Converted Amount:
            <input type="number" [(ngModel)]="itemData.convertedAmount.amount" placeholder="Amount" />
        </label><br>
        <label>Currency:</label>
        <select [(ngModel)]="itemData.originalAmount.currency">
            <option selected disabled>Select Currency</option>
            <option *ngFor="let currency of currencies" [value]="currency.name">{{currency.name}}</option>
        </select><br>
        <label>Comment:
            <input [(ngModel)]="itemData.comment" placeholder="Comment" />
        </label><br>
        <label>test:
            <input [(ngModel)]="itemData.createdAt" placeholder="test" />
        </label><br>
    </div>
    <button (click)="updateItem()">Update</button>
</div>