
input[type='text'],
input[type='date'],
input[type='number'],
input[type='textarea'],
textarea,
select {
  display: block;
  border: 0;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}



select {
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }

  &:not(:disabled):hover {
    border-color: clr(light-gray);
  }

  &:not(:disabled):focus {
    border-color: clr(black);
  }
  &:disabled {
    cursor: default;
  }
}