<header>
    <div class="m-surheader">
        <div class="row">
            <div class="column-20 offset-2">
                <p>Cleemy : test technique front</p>
            </div>
        </div>
    </div>
    <section class="o-header">
        <div class="row">
            <div class="column-20 offset-2">
                <span><a href="/">{{ title }}</a></span>
            </div>
        </div>
    </section>
</header>

<section class="main">
    <div class="row">
        <div class="column-20 offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
